* {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    height: 100vh;
    align-items: center;
    justify-items: center;
    background-color: #FFF8DC;
}

.watchface-container {
    font-family: 'Major Mono Display', monospace;
    background-image: linear-gradient(90deg, #355C7D, #6C5B7B, #C06C84);
    height: 60vw;
    width: 60vw;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-gap: 1rem;
    padding: 3rem;
    border-radius: 2rem;
    box-shadow: 0.2rem 0.2rem .8rem black;
}

.letter {
    font-size: 2rem;
    /* text-transform: lowercase; */
    display: grid;
    align-items: center;
    justify-items: center;
}

.current {
    color: white;
}

.am.current, .pm.current {
    color: white;
    box-shadow: 0 1px 0;
}

@media (max-width: 1080px) {
    .watchface-container {
        height: 70vw;
        width: 70vw;
    }

@media (max-width: 800px) {
    .watchface-container {
        height: 80vw;
        width: 80vw;
    }
    .letter {
        font-size: 1.5rem;
    }
  }